.landing-nav-links {
    display: flex;
    justify-content: space-evenly;
    
}

#see-all-groups {
    color: teal;
    font-size: 20px;
}

#find-event {
    color: teal;
    font-size: 20px;
}

#start-group {
    color: teal;
    font-size: 20px;
}

#start-group-disabled {
    cursor: not-allowed;
    color: gray;
    font-size: 20px;
}