/* .event-group-nav {
    display: flex;
    justify-content: center;
    margin-right: 500px;
}

.groups-link {
    margin-left: 50px;
    font-size: 24px;
    color: teal;
}

.groups-link:hover {
    color: #1E9C9C;
}

.events-link:hover {
    color: #1E9C9C;
}

.events-link {
    font-size: 24px;
    text-decoration: none;
    color: black;
} */