/* #header-down {
    display: flex;
    flex-direction: column;
} */

.groups-header {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: left;
    margin-left: 637px;
    width: 500px;
}


.group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
    width: 500px;
    display: flex;
    overflow: hidden;
}

.group:hover {
    background-color: rgba(233, 227, 227, 0.799);
    transition-duration: 500ms;
    cursor: pointer;
}

#name {
    font-size: 24px;
}

#location {
    font-size: 16px;
}

#image {
    width: 250px;
    margin-top: 30px;
    height: 190px;
    object-fit: cover;
}

.group-details {
    flex: 1;
    padding: 10px;
    text-align: left;
}
