.group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    margin-top: 10px;
    background-color: #e0ffff;
    text-align: center;
    border: 2px solid;
    width: 500px;
    display: flex;
    /* overflow: hidden; */
    /* flex-wrap: wrap; */
}

.group:hover {
    background-color: lightgreen;
    transition-duration: 500ms;
    cursor: pointer;
}

#name {
    font-size: 24px;
}

#location {
    font-size: 12px;
    background-color: lightcoral;
}

#image {
    width: 200px; /* Adjust the width as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.group-details {
    flex: 1;
    padding: 10px;
    text-align: left;
}
