#event-container {
    line-height: 15px;
}

#event-delete {
    background-color: darkgray;
}

#event-update {
    background-color: darkgray;
}

#event-image {
    width: 700px;
    height: 400px;
}

#group-info {
    background-color: gray;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    
}

#group-name {
    position: relative;
    top: 10px;
    left: 75px;
}

#group-private {
    position: relative;
    left: 75px
}


#time-price-type {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

#time {
    display: flex;
    margin-left: 30px;
}

#clock-icon {
    position: relative;
    top: 30px;

}
#event-start-end {
    position: relative;
    left: 10px;
}

#event-detail-price {
    margin-left: 30px;
}
#event-detail-location {
    margin-left: 30px;
}

#event-details-imageDwn {
    background-color: rgba(174, 173, 173, 0.382);
}