.logo {
    position: relative;
    height: 100px;
    width: 100px;
}

.logo:hover {
    cursor: pointer;
}

.menuNavigation {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

#modal-buttons {
    display: flex;
}

#modal-buttons > *:not(:last-child) {
    margin-right: 10px;
}

.hidden {
    display: none;
}